<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/layout.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    
    <style>
        #navbarSupportedContent ul li{
            margin-right:20px;
            cursor:pointer;
        }
    </style>
    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">
   <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/index">Countries/States</a>
      </li>
      <!--<li class="nav-item">-->
      <!--  <a class="nav-link" data-toggle="modal" data-target="#companyModal" id="c">Company Info</a>-->
      <!--</li>-->
    </ul>
   
    <div class="nav-item dropdown" style="margin-right:55px;">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown_4" style="cursor:pointer;">
         <img src="<%=user.photo%>" width="30" height="30" alt=""> <%=user.first_name%>
        </a>
          <div class="dropdown-menu1" id="dropdown_menu_4">
               <div class="dropdown-menu-header" id="dropdown-menu-header">
                   <span><i class="fas fa-cogs"></i> My Account</span>
               </div>
              <!-- <div class="dropdown-menu-body" id="dropdown-menu-body">
                    <div class="menu-body-segment">
                       <span>Terms and Privacy</span>
                   </div>
               </div>-->
               <div class="dropdown-menu-footer logoutDiv" id="dropdown-menu-footer">
                   <span><i class="fas fa-sign-out-alt"></i> Log out</span>
               </div>
           </div>
      </div>
  </div>
</nav>
         <%- body %>
         
         
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
                <!-- jQuery library -->
        
        
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="/js/layout.js"></script>
        
     <!-- Modal -->
<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog  modal-lg" role="document">
    <div class="modal-content">
    <form action="/companydetails_upload" method="POST" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Company Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
         <div class="row">
             <div class="col-md-4">
                 <div class="photo_sec" style="text-align:center;">
                     <img src="https://www.freelogodesign.org/img/logo-ex-7.png" width="250" height="250" id="img" class="img" ><br><br>
                     
                     <input type="file" name="filename_1" id="filename_1" style="display:none;">
                     <button class="btn btn-info" id="browse"> Browse</button>
                 </div>
             </div>
             <div class="col-md-8" style="border-left:1px solid #000;">
                 <div class="f__1"></div>
             </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary update_cDetails">Save changes</button>
      </div>
     </form>
    </div>
  </div>
</div>

    </body>
</html>
<script src="/js/admin.js"></script>
